@import "tailwindcss";

:root {
  --cream: #FFFDFA;
  --dark-cream: #F2EEE8;
  --rose: #B57A90;
  --dark-gray: #2e2c2c;
  --sage: #AFC7B4
  --font-accent: 'Sanchez';
}

body {
  background: var(--cream);
  color: var(--dark-gray);
  font-family: Arial, Helvetica, sans-serif;
}
