@import "tailwindcss";

:root {
  --bg1: #ffffff;
  --bg2: #efeeed;
  --primary: #b57a90;
  --neutral: #2e2c2c;
  --accent: #afc7b4;

  --font-accent: "Sanchez", serif;
}

body {
  background: var(--bg1);
  color: var(--neutral);
  font-family: var(--font-sans);
  font-size: calc(10px + 0.6vw);
}

h2 {
  font-family: var(--font-serif);
  font-weight: 600;
  font-size: calc(30px + 2vw);
}

@layer utilities {

  /* Animation for carousel */
  @keyframes slideCarousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-15vh * 4 * 9));
    }
  }
  .animate-slideCarousel {
    animation: slideCarousel 45s linear infinite;
  }

  .font-accent {
    font-family: var(--font-accent);
  }

  .bg1 {
    color: var(--bg1);
  }
  .bg-bg1 {
    background-color: var(--bg1);
  }

  .bg2 {
    color: var(--bg2);
  }
  .bg-bg2 {
    background-color: var(--bg2);
  }

  .neutral {
    color: var(--neutral);
  }
  .bg-neutral {
    background-color: var(--neutral);
  }

  .primary {
    color: var(--primary);
  }
  .bg-primary {
    background-color: var(--primary);
  }
}
