@import "tailwindcss";

:root {
  --bg1: #ffffff;
  --bg2: #F2EEE8;
  --primary: #B57A90;
  --neutral: #2e2c2c;
  --accent: #AFC7B4;

  --font-accent: "Sanchez", serif;
}

body {
  background: var(--bg1);
  color: var(--neutral);
  font-family: var(--font-sans);
  font-size: calc(10px + 0.6vw)
}

h2 {
  font-family: var(--font-serif);
  font-weight: 600;
  font-size: calc(30px + 2vw)
}

@layer utilities {
  .font-accent {
    font-family: var(--font-accent);
  }

  .neutral {
    color: var(--neutral);
  }

  .primary {
    color: var(--primary);
  }

  .bg-neutral {
    background-color: var(--neutral);
  }

  .bg-primary {
    background-color: var(--primary);
  }
}
